<a href="https://colab.research.google.com/github/SARATHKUMARTJ/input-output/blob/main/input_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


$\color{red}{\text{1)Write a code to get the input in the given format and print the output in the given format}}$








Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [4]:
A= int(input())
print(A)

2
2

$\color{red}{\text{2)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

*   List item
*   List item

In [8]:
#method:1 user input
A = str(input())
print(A)

2 545 5 5
2 545 5 5

In [17]:
#method:2
A=('2'' ' '3'' ''4'' ''6')
print(A)

2 3 4 6

$\color{red}{\text{3)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [12]:
a = str(input())
b = str(input())
print(a)
print(b)

5 3
1 2 3 4 5
5 3
1 2 3 4 5

$\color{red}{\text{4)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4

2 4

2 4

Sample Output :

2 4

2 4

2 4

In [21]:
a=str(input())
a=str(input())
a=str(input())
print(a)
print(a)
print(a)

2 4
2 4
2 4
2 4
2 4
2 4

In [18]:
a=('1'' ''2')
print(a)
print(a)
print(a)

1 2
1 2
1 2

$\color{red}{\text{5)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :

2

4

5

Sample Output :
2 4 5'''

In [23]:
a =int(input())
b =int(input())
c =int(input())
print(a,b,c)

1
2
3
1 2 3

$\color{red}{\text{6)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :

2 5

2 5 6

2 4 5

Sample Output :

2 5

2 5 6

2 4 5

In [25]:
s =input()
a =input()
r =input()
print(s)
print(a)
print(r)

2 5
2 5 6
2 4 6
2 5
2 5 6
2 4 6

$\color{red}{\text{7)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i[link text](https://)

In [27]:
a = str(input())
print(' '.join(a))

sarath
s a r a t h

$\color{red}{\text{8)Write a code to get the input in the given format and print the output in the given format}}$
Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8

Sample Output :

2.3

4.5

7.8

In [40]:
words = input().split()
print("\n".join(words))

5.5 6.6 2.2
5.5
6.6
2.2

In [39]:
a = str(input())
print(a.replace(' ','\n'))

4.5 5.5 6.6
4.5
5.5
6.6

$\color{red}{\text{9)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek

Sample Output :

g

u

v

i

g

e

e

k

In [44]:
a = str(input())
for i in a:
    print(i)

guvigeeks
g
u
v
i
g
e
e
k
s

$\color{red}{\text{10)Write a code to get the input in the given format and print the output in the given format}}$

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i

In [54]:
a =str(input())
print(','.join(a))

sarath
s,a,r,a,t,h